<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- See http://logback.qos.ch/manual/layouts.html -->
            <!-- See http://doc.akka.io/docs/akka/2.0/scala/logging.html -->
            <pattern>%date{ISO8601} %-5level %logger{36} %X{sourceThread} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.redbee.weather" level="DEBUG" >
        <appender-ref ref="console"/>
    </logger>
    <logger name="slick.jdbc.JdbcBackend.statement" level="DEBUG" >
        <appender-ref ref="console"/>
    </logger>
    <logger bane="slick.jdbc.StatementInvoker.result" level="INFO" >
        <appender-ref ref="console"/>
    </logger>
</configuration>